.cart-wrapper{
    margin: 20px auto;
    width: 70%;
}
.cart-title{
    padding-bottom: 5px;
    border-bottom: 1px solid 0c0c0c;
    margin: 6px 0;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 3px #0c0c0c;
    img{
        width: 80px;
        margin-right: 10px;
    }
    .cart-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex:1
    }
   
}
button{
    display: inline-block;
    border: 0;
    background-color:darkgray;
    color: black;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
    &:hover{
        color:red;
    }
}
.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.total{
    font-size: 25px;
}
.checkout-form{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #ddd;
    left: 0;
    padding: 30px;

    form{
        width: 60%;
        margin: auto;
        >div{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        input{
            height: 40px;
            border: 1px solid #0c0c0c;
            padding: 5px;
        }
        button{
            height: 40px;
        }
    }
}
.order-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    .close-icon{
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
        font-size: 20px;
        color: red;
    }
    .alert-success{
        background-color: green;
        color: #ddd;
        padding: 10px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    table{
        border: 1px solid #0c0c0c;
        tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #0c0c0c;
            &:last-of-type{
                border-bottom: 0;
            }
            td{
                padding: 10px;
            }
        }
    }
}